# Entorno Virtual
env/

# Variables de Entorno
.env

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de configuración de VSCode
.vscode/

# Archivos de configuración de React
node_modules/
build/
*.log

# Archivos de configuración de paquetes
package-lock.json
yarn.lock

# Archivos de configuración de React
*.docx